// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #008181;
$font-size-base: 1.2rem;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$font-size-base: 17px;
$theme-colors: map-merge(
    $theme-colors,
    (
        "primary": $primary,
    )
);

// 5. Include remainder of required parts
@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../bootstrap/scss/utilities";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/buttons";
@import "../bootstrap/scss/card";
@import "../bootstrap/scss/helpers";
@import "../bootstrap/scss/nav";
@import "../bootstrap/scss/navbar";
@import "../bootstrap/scss/carousel";
@import "../bootstrap/scss/list-group";
@import "../bootstrap/scss/tables";
@import "../bootstrap/scss/alert";
@import "../bootstrap/scss/dropdown";
@import "../bootstrap/scss/transitions";
@import "../bootstrap/scss/offcanvas";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../bootstrap/scss/utilities/api";

@import "../bootstrap-icons/font/bootstrap-icons.scss";

.square-for-card {
    height: 22rem;
}

@mixin admon-color($color) {
    color: darken($color, 15%);
    background-color: lighten($color, 25%);
    border-color: $color;
}

.admonition {
    padding: 0 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: left;
    &-title {
        font-weight: bold;
        text-align: left;
    }
    &.note,
    &.info,
    &.tips {
        $base-blue: #3498db;
        @include admon-color($base-blue);
    }
    &.warning,
    &.warn,
    &.important {
        $base-carrot: #e67e22;
        @include admon-color($base-carrot);
    }
    &.danger,
    &.critical {
        $base-alizarin: #e74c3c;
        @include admon-color($base-alizarin);
    }
}

blockquote {
    border-left: 4px solid #e1e4e8;
    color: #6a737d;
    font-size: 16px;
    font-style: italic;
    margin: 1.5em 0;
    padding: 0.5em 1em;
}

blockquote p {
    margin: 0;
}

.custom-word-container {
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    padding: 15px 20vw;
}

.custom-letter {
    color: $primary;
    display: inline-block;
}

.custom-word-container .custom-word-reveal {
    opacity: 0;
    max-width: 10px;
    text-wrap: nowrap;
    transition: all 1s ease;
}

.custom-word-container:hover .custom-word-reveal {
    opacity: 1;
    max-width: 200px;
    margin-right: 1em;
}

// FIXME: extending Bootstrap classes or regular tags could have unintended side effects
// with conflicting properties

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.centered-section {
    @extend .d-flex;
    @extend .flex-column;
    @extend .align-items-center;
}

.display-7 {
    font-size: calc(1rem + 1vw);
    font-weight: 300;
    line-height: 1.2;
}

.display-8 {
    font-size: calc(0.9rem + 0.7vw);
    font-weight: 300;
    line-height: 1.2;
}

.display-9 {
    font-size: calc(0.8rem + 0.4vw);
    font-weight: 300;
    line-height: 1.2;
}

.centered-heading {
    @extend .display-4;
    @extend .mb-5;
    @extend .text-center;
    //@extend .text-primary;
}

.smallcaps-heading {
    @extend .fs-6;
    @extend .mb-3;
    @extend .text-secondary;
    @extend .text-center;
    @extend .text-uppercase;
}

.about-phrase {
    @extend .display-5;
    @extend .mb-5;
    @extend .text-center;

    a {
        @extend .text-decoration-none;
        @extend .link-primary;
    }

    b {
        @extend .fw-bold;
    }
}

.nav-link {
    @extend .rounded-3;

    &:hover {
        background-color: lightgray;
        color: black;
    }
}

.piaf-icon {
    @extend .icon-link;
    @extend .icon-link-hover;
}

.piaf-icon-title {
    font-size: large;
}

.btn {
    @extend .btn-lg;
    @extend .btn-primary;

    transition-duration: 0.2s;

    &:hover {
        background-color: white;
        color: $primary;
    }
}

.whoarewe {
    @include make-container();
    @extend .mb-5;

    .col {
        @extend .justify-content-center;
    }
}

.card-container {
    // FIXME: container class is not applied with this line
    //@include make-container();
    @extend .container;
    .row {
        @extend .gx-xxl-5;
        @extend .gy-4;
    }
}

.custom-card {
    @extend .h-100;
    @extend .bg-transparent;
    @extend .shadow;
    @extend .rounded-3;
    @extend .text-center;

    .card-body {
        @extend .d-flex;
        @extend .flex-column;

        h2 {
            @extend .card-title;
            @extend .mb-4;
        }

        p {
            @extend .card-text;
            @extend .text-secondary;
        }

        a {
            @extend .btn;
            @extend .mx-auto;

            margin-top: auto;
        }
    }
}

.events {
    .card {
        width: 24rem;
    }
}

.video-container {
    // FIXME: this doesn't work
    //@include make-container();
    @extend .container;
    @extend .d-flex;
    @extend .flex-wrap;
    @extend .gap-3;
    @extend .mb-5;

    .video-card {
        margin: 20em;
    }
}

.page-title {
    font-size: calc(2rem + 1vw);
    font-weight: 500;
    line-height: 1.2;
    @extend .m-4;
}

header {
    @extend .text-center;

    nav {
        @extend .navbar-expand-lg;
        @extend .bg-light;
        @extend .shadow-sm;
        @extend .mb-5;

        .navbar-brand {
            @extend .mx-5;
        }

        .navbar-collapse {
            flex-direction: column-reverse;
        }

        .navbar-nav {
            @extend .d-flex;
        }

        .nav-item {
            @extend .px-2;
            @extend .mx-2;
        }

        .dropdown-item {
            @extend .text-secondary;
        }

        // FIXME: dropdown pushes navbar items to the bottom
        // when navbar is in vertical mode
    }

    // TODO: colored title and gradient header with cool background effect
    .piaf-banner {
        //@extend .d-flex;
        @extend .flex-column;
        //@extend .justify-content-center;
        @extend .align-items-center;

        //background: linear-gradient(to bottom, rgba(21, 72, 192, 0.5), rgba(194,233,251,0.5));

        .page-title {
            @extend .display-4;
            @extend .mb-3;
        }
    }
}

main {
    // TODO: separate sections with borders or background
    section {
        @extend .py-5;
    }

    // FIXME: remove excess (scrollable) space on the right

    .md-content {
        @extend .col-xxl-8;
        @extend .my-4;

        // FIXME: justify does not work with nutshell (embedable explainations)
        // text-align: justify !important;

        // TODO: colored heading
        // FIXME: h1 h2 h3 ... doesn't work
        // TODO: change global font size and weight: https://getbootstrap.com/docs/5.0/content/typography/#sass
        h2 {
            @extend .display-6;
            @extend .my-4;
        }
        h3 {
            @extend .display-7;
            @extend .my-4;
        }
        h4 {
            @extend .display-8;
            @extend .my-4;
        }
        h5 {
            @extend .display-9;
            @extend .my-4;
        }
    }
}

// FIXME: push footer down to bottom of the screen
footer {
    @extend .mt-5;
    @extend .text-center;
    @extend .bg-body-tertiary;

    .footer-nav {
        @extend .pt-3;

        .nav-link {
            @extend .p-2;
            @extend .mx-4;
            @extend .text-body-secondary;
            @extend .rounded-3;
        }
    }

    .footer-social {
        @extend .py-3;

        .icon-link {
            @extend .icon-link-hover;
            @extend .text-black;
            @extend .me-5;
        }
    }

    .footer-org {
        .footer-piaf {
            // FIXME: footer-piaf ne devrait pas décentrer footer-copyright
            @extend .float-start;
            @extend .py-3;
        }

        .footer-copyright {
            @extend .py-4;
            @extend .bg-body-secondary;
            @extend .text-body-secondary;
        }
    }
}
