<html lang="fr">

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" property="og:title" content="PIAF">
    <meta name="keywords"
        content="{{KEYWORDS}}">
    <meta name="description"
        content="{{DESCRIPTION}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:url" content="{{MAIN_SITE_URL}}/{{page}}">
    <meta property="og:image" content="{{MAIN_SITE_URL}}/static/piaf_gray.png">
    <meta property="og:description"
        content="{{description}}">
    <meta property="og:type" content="website">
    <link rel="canonical" href="{{MAIN_SITE_URL}}">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/svg" href="/piaf.svg">
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>

<body>
    <header class="site-header">
        {% include("navbar.html") %}

        {% block header_image %}
        {% endblock %}

        {% block page_title %}
        <h1 class="page-title">{{title}}</h1>
        {% endblock %}
    </header>
    
    <main class="site-main" role="main">
        {% block main %}
        {% endblock %}

    <footer>
        {% include("footer.html") %}
        
    </footer>
</body>

</html>