<div class="footer-nav">
    <ul list-inline="">
        <li class="list-inline-item"><a class="nav-link" href="/mentions-legales.html">Mentions légales</a></li>
        <li class="list-inline-item"><a class="nav-link" href="/confidentialite.html">Confidentialité</a></li>
        <li class="list-inline-item"><a class="nav-link" href="/nous-aider.html">Nous aider</a></li>
    </ul>
</div>
<div class="footer-social">
    <a class="icon-link" href="{{GITHUB_PAGE}}">
        <i class="bi bi-github h4"></i>
    </a>
    <a class="icon-link" href="{{YOUTUBE_CHANNEL}}">
        <i class="bi bi-youtube h4"></i>
    </a>
    <a class="icon-link" href="{{DISCORD_SERVER}}">
        <i class="bi bi-discord h4"></i>
    </a>
</div>
<div class="footer-org">
    <div class="footer-piaf">
        <a class="navbar-brand" href="/">
            <img class="piaf-icon" src="./piaf_gray.svg" width="60em" height="40em">
            <b class="piaf-icon-title">PIAF</b>
        </a>
    </div>
    <div class="footer-copyright">
        <p>© 2024 <strong>Pour une Intelligence Artificielle Fiable - PIAF</strong></p>
    </div>
</div>
