<div class="footer-nav">
    <ul list-inline="">
        <li class="list-inline-item"><a class="nav-link" href="/mentions-legales.html">Mention légales</a></li>
        <li class="list-inline-item"><a class="nav-link" href="/confidentialite.html">Confidentialité</a></li>
        <li class="list-inline-item"><a class="nav-link" href="/nous-aider.html">Nous aider</a></li>
    </ul>
</div>
<div class="footer-social"><a class="icon-link" href="https://github.com/ai-safety-saclay"><i
            class="bi bi-github h4"></i></a><a class="icon-link"
        href="https://www.youtube.com/channel/UC3edW_hy2Ri_yilIiM3LTDA"><i class="bi bi-youtube h4"></i></a><a
        class="icon-link" href="https://discord.gg/pWRjGuP4nE"><i class="bi bi-discord h4"></i></a></div>
<div class="footer-org">
    <div class="footer-piaf"><a class="navbar-brand" href="/"><img class="piaf-icon" src="./piaf_gray.svg"
                width="60em" height="40em"><b class="piaf-icon-title">PIAF</b></a></div>
    <div class="footer-copyright">
        <p>© 2024 <strong>Pour une Intelligence Artificielle Fiable - PIAF</strong></p>
    </div>
</div>