<nav class="navbar" data_bs_theme="light">
    <a class="navbar-brand" href="/">
        <img
            class="piaf-icon"
            src="/piaf_gray.svg"
            width="60em"
            height="40em"
        />
        <b class="piaf-icon-title">PIAF</b>
    </a>
    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/presentation.html">Présentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/asimov.html">Asimov</a>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    Exposés
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a
                            class="nav-link dropdown-item"
                            href="/groupe-de-lecture.html"
                            >Groupe de lecture</a
                        >
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <a class="nav-link dropdown-item" href="/jeudia.html"
                            >Jeud'IA</a
                        >
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hackathons.html">Hackathons</a>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    Blog
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a
                            class="nav-link dropdown-item"
                            href="/poems/index.html"
                            >Safety-poems</a
                        >
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <a
                            class="nav-link dropdown-item"
                            href="/blog/index.html"
                            >nos articles</a
                        >
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact.html#nous-rejoindre"
                    >Nous rejoindre</a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact.html">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<script>
    const links = document.querySelectorAll(".nav-link");
    links.forEach((link) => {
        if (link.href === window.location.href) {
            link.classList.add("active");
        }
    });
</script>
