{% extends "base.html" %} {% block page_title %}
<h1>
    <a href="/poems/index.html">Poèmes</a>
</h1>
<h2 class="poem-title">{{title}}</h2>
{% endblock %} {% block main %}
<section class="content centered-section">
    <div class="poem-content">{{content|safe}}</div>
    {% if links %}
    <div class="poem-content">
        <h3>Pour en savoir plus</h3>
        <ul>
            {% for link in links %}
            <li><a href="{{ link.url }}">{{ link.text }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</section>
{% endblock %}
