{% extends "base.html" %}


{% block main %}

<section class="container centered-section">

<div class="md-content">

<img src="logo_asimov.png" class="d-block mx-auto" height="240em"/>
<img src="Logo-IP-Paris-carré-HD.png" class="d-block mx-auto" height="100em"/>

<blockquote class="lead text-center">Les conférences sur l'impact du numérique sur notre civilisation.</blockquote>

{% markdown %}
## Suivre les prochaines conférences

Si vous êtes sur le plateau de Saclay, vous pouvez suivre dès maintenant les futures conférences [ci-dessous](#a-venir).

Vous pouvez également vous abonner sur notre chaîne YouTube pour ne rater aucune des rediffusions. Notre chaîne est entièrement consacrée au cycle de conférences Asimov.

{% endmarkdown %}

{% set link=YOUTUBE_CHANNEL %}
{% set link_icon_class="bi-youtube" %}
{% set btn_text="Chaîne YouTube" %}
{% include "button.html" %}

{% markdown %}

## Le projet

Le cycle Asimov est dirigé par une vision, inspirée par l'auteur de science-fiction Isaac Asimov.
C'est une vision du monde dans laquelle les machines automatiques sont à la source d'une transformation irréversible de l'humanité. Une vision où les technologies numériques progressent jusqu'à atteindre les compétences humaines, et changent en profondeur le fonctionnement de l'humanité. Une vision où l'intelligence croissante des robots, différente de celle des humains, rend leur contrôle extrêmement difficile.

Et dans cette vision, les ingénieurs et les scientifiques ont un rôle particulier à jouer. Ils doivent saisir les immenses opportunités qu'offrent ces technologies, tout en ayant une vision claire des risques. Dans le domaine de l'énergie, du transport, pour l'aéronautique et pour le médical, les ingénieurs sont formés pour connaître les enjeux et les risques de leurs innovations sur la société. Dans le numérique, ce n'est pas le cas.

Nous pensons qu'au contraire, de nombreux étudiants **veulent** avoir une vision des risques causés par le domaine dans lequel ils travaillent. Le discours sur ce sujet est occupé par les entreprises, avec souvent un discours très techno-solutionniste. Aux vu des enjeux, il faut un discours plus impartial, et plus critique.

<br>

Avec Effisciences et l'Institut Polytechnique de Paris, nous vous proposons un cycle de conférences tout au long de l'année 2024-2025.

<section class="container centered-section">

    <h2 class="display-4 text-center" id="a-venir">Les conférences à venir</h2>
    {% if not future_asimov %}
        <p class="mt-5">
            Notre prochaine conférence est encore en cours d'organisation. Patience...
        </p>
    {% endif %}
    {% for asimov in future_asimov %}
    {% include "conference-asimov.html" %}
    {% endfor %}
</section>

<section class="container centered-section">
    <h2 class="display-4 text-center" id="passee">Les conférences passées</h2>
    {% for asimov in past_asimov %}
    {% include "conference-asimov.html" %}
    {% endfor %}
</section>

## Participer à l'organisation

Ce cycle de conférences est collaboratif.

Nous proposons de l'aide aux étudiants du plateau de Saclay pour mettre en place des conférences dans leurs écoles : le contact des intervenants, la communication et de l'aide pour la logistique le jour J. Nous pouvons également vous fournir un budget pour l'évènement.

Pour contacter le responsable : [antonin.peronnet@telecom-paris.fr](mailto: antonin.peronnet@telecom-paris.fr).

Vous pouvez également rejoindre l'association :

{% endmarkdown %}

{% set link="/contact.html#nous-rejoindre" %}
{% set link_icon_class="" %}
{% set btn_text="Nous rejoindre" %}
{% include "button.html" %}

<br>
<p>
Et voici des extraits d'intervenants que nous pourrions inviter, dans notre ordre de préférence.
</p>
</div>

<div class="video-container">
    {% for id in video_ids %}
        <iframe width="300" height="180" src="https://www.youtube-nocookie.com/embed/{{id}}&origin={{MAIN_SITE_URL}}" loading="lazy">
        </iframe>
    {% endfor %}
</div>

</section>

{% endblock main %}
