<div class="card my-2 p-3 text-center" style="width: 100%;">
    {% set embed_event_code=asimov["embed_event_code"] %}
    {% if embed_event_code %}
        {% include "luma.html" %}
    {% else %}
        <p class="text-muted small">
            {{asimov["date"]}}
        </p>
        <h2 class="card-title fs-3">
            {{asimov["title"]}}
        </h2>
        <h3 class="card-subtitle fs-4">
            {{", ".join(asimov["speakers"])}}
        </h3>
        <h3 class="card-subtitle mb-2 text-muted fs-5">
            {{asimov["location"]}}
        </h3>
    {% endif %}

    <p class="card-text">
        {% if asimov["blog_link"] %}
            <br>
            Article récapitulatif : <a href="/blog/{{asimov['blog_link']}}.html" class="fs-6">
                ici
            </a>
        {% endif %}
    </p>
</div>