
{% extends "base.html" %}

{% block main %}
<section class="container d-flex flex-column align-items-center">

<div class="md-content">

{% markdown %}
Le PIAF propose un groupe de lecture hebdomadaire sur la sûreté de l'IA.

## Principe

Lors d'une séance, un membre du groupe présente un exposé sur un article de recherche de son choix. Cette réunion permet à chacun d'apprendre plus sur la sûreté de l'IA et de se renseigner sur les avancées dans le domaine. L'exposé est accessible aux non-experts et est accompagné d'un temps de questions.

## Organisation

Les séances du groupe de lecture sont ouvertes à tous et ont lieu en présentiel chaque dimanche. Pour vous tenir au courant des prochains rendez-vous, rejoignez notre serveur Discord.

{% endmarkdown %}
</div>

<a class="btn" href="https://discord.gg/pWRjGuP4nE">
    <i class="bi bi-discord me-2"></i> Rejoindre la discussion
</a>

</section>

<section class="container">
    {% for lecture in lectures %}
    {% include "lecture.html" %}
    {% endfor %}
</section>

{% endblock %}