
{% extends "base.html" %}

{% block main %}
<section class="container centered-section">

<div class="md-content">

{% markdown %}
Le PIAF propose un groupe de lecture hebdomadaire sur la sûreté de l'IA.

## Principe

Lors d'une séance, un membre du groupe présente un exposé sur un article de recherche de son choix. Cette réunion permet à chacun d'apprendre plus sur la sûreté de l'IA et de se renseigner sur les avancées dans le domaine. L'exposé est accessible aux non-experts et est accompagné d'un temps de questions.

## Organisation

Les séances du groupe de lecture sont ouvertes à tous et ont lieu en présentiel chaque dimanche. Pour vous tenir au courant des prochains rendez-vous, rejoignez notre serveur Discord.

{% endmarkdown %}
</div>

{% set link=DISCORD_SERVER %}
{% set link_icon_class="bi-discord" %}
{% set btn_text="Rejoindre la discussion" %}
{% include "button.html" %}

</section>

<section class="container">
    <h2 class="display-4 text-center">Les conférences à venir</h2>
    {% for lecture in future_lectures %}
    {% include "lecture.html" %}
    {% endfor %}
</section>

<section class="container">
    <h2 class="display-4 text-center">Nos conférences passées</h2>
    {% for lecture in past_lectures %}
    {% include "lecture.html" %}
    {% endfor %}
</section>

{% endblock %}